name: "release go binaries for receiveosc"

on:
  push:
    tags:
      - 'receiveosc/*'

permissions:
  contents: write
  packages: write

jobs:

  create-release:
    name: Create receiveosc release
    runs-on: ubuntu-latest 
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
  release-multi:
    name: create binaries and upload
    needs: create-release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm64]
        exclude:
          - goarch: "386"
            goos: darwin
    steps:
      - uses: actions/checkout@v6
      - uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: "1.25.1"
          project_path: "./cmd/receiveosc"
          binary_name: "receiveosc"
          asset_name: receiveosc-${{ matrix.goos }}-${{ matrix.goarch }}
          release_name: ${{github.ref_name}}
